@import reset

html
	overflow-y: scroll
	overflow-x: hidden
  font-family: monospace

body
	background-color: #ffffff

#tmp
  border-bottom: 1px solid #ff0000
  // margin-top: 200px

label
  font-family: monospace

input[type=range]
  vertical-align: middle
  width: 200px

label
  width: 120px
  height: 1.9em
  display: inline-block

em
  font-weight: 800
