@import reset

html
	overflow: hidden
  font-family: monospace
  box-sizing: border-box

body
	background-color: #fffff0

h2
  font-weight: 600
  margin: 10px 0 12px 0
  text-transform: uppercase

#controls
  // width: 100%
  font-family: monospace

  input[type=range]
    vertical-align: middle
    width: 200px
    margin-bottom: 10px

  label
    font-family: monospace
    width: 220px
    height: 0.8em
    display: inline-block

  em
    font-weight: 800

  #wall
    height: auto
    border: 1px solid #bbb
    padding: 5px
    width: 210px
    background-color: #fff

    button
      margin: 15px 0
      font-family: monospace
      width: 100%
      text-align: left

    select
      margin: 10px 0
      font-family: monospace
      // font-size: 15px
      max-width: 208px

      option
        width: 100%
        min-height: 20px

  #colladas
    font-family: monospace
    margin-top: 0px
    overflow-y: auto
    height: calc(100vh - 255px)

    .collada
      background-color: #fff
      width: 210px
      border: 1px solid #bbb
      padding: 5px
      margin: 10px 0 20px 0

      button
        margin: 0px 0
        font-family: monospace
        float: right

    .collada:first-child
      margin-top: 0

#left
  width: calc(100vw - 240px)
  height: 100vh
  overflow: none
  float: left

  #view3D
    float: left
    height: 100vh
    width: 100%

#right
  width: 240px
  float: right
  overflow: none