/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: #dddddd; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

html {
  overflow: hidden;
    overflow-font-family: monospace;
    overflow-box-sizing: border-box; }

body {
  background-color: #fffff0; }

h2 {
  font-weight: 600;
  margin: 10px 0 12px 0;
  text-transform: uppercase; }

#controls {
  font-family: monospace; }
  #controls input[type=range] {
    vertical-align: middle;
    width: 200px;
    margin-bottom: 10px; }
  #controls label {
    font-family: monospace;
    width: 220px;
    height: 0.8em;
    display: inline-block; }
  #controls em {
    font-weight: 800; }
  #controls #wall {
    height: 210px;
    border: 1px solid #bbb;
    padding: 5px;
    width: 210px;
    background-color: #fff; }
    #controls #wall button {
      margin: 15px 0;
      font-family: monospace;
      width: 100%;
      text-align: left; }
    #controls #wall select, #controls #wall option {
      width: 100%;
      min-height: 20px;
      font-family: monospace; }
  #controls #holes {
    font-family: monospace;
    margin-top: 0px;
    overflow-y: auto;
    height: calc(100vh - 255px); }
    #controls #holes .hole {
      background-color: #fff;
      width: 210px;
      border: 1px solid #bbb;
      padding: 5px;
      margin: 10px 0 20px 0; }
      #controls #holes .hole button {
        margin: 0px 0;
        font-family: monospace;
        float: right; }
    #controls #holes .hole:first-child {
      margin-top: 0; }

#left {
  width: calc(100vw - 240px);
  height: 100vh;
  overflow: none;
  float: left; }
  #left #view2D {
    float: left;
    height: 35vh;
    width: 100%; }
  #left #view3D {
    float: left;
    height: 65vh;
    width: 100%;
    border-top: 1px solid #ccc; }

#right {
  width: 240px;
  float: right;
  overflow: none; }
